[2015-03-30 20:52] jgravois opened #42 "replace 'master' branch with 'gh-pages'"
this would keep it simple to host JSAPI, web appbuilder and Esri Leaflet apps and link to the live demo without worrying about keeping `master` and `gh-pages` in sync.

[2015-03-30 20:54] jgravois opened #43 "should setting up a github account and forking be included in the steps to get started?"
seems like this should be 'optional'

[2015-03-30 21:39] alaframboise commented on #43
Yip, it is optional now that they can access the .zip and it contains all the data they need. Need to updated instructions.

[2015-03-30 21:41] alaframboise commented on #42
Yes, good idea. Need to do this too.

[2015-03-30 21:43] jgravois commented on #43
let me do this one, i'm toying around with a few formatting changes at the same time.

[2015-03-30 21:58] jgravois opened #47 "remove spaces from .MD filenames"
mostly just because i dislike urls with encoded spaces.  if everyone else agrees, i can tackle making the necessary changes to the filenames and hyperlinks.

[2015-03-30 22:17] alaframboise commented on #42
Done.  Please pull and merge.

[2015-03-30 22:17] #42 closed

[2015-03-30 22:18] alaframboise commented on #43
Removed fork-clone requirement. Can download data straight from rawgit. #49

[2015-03-30 22:18] #43 closed

[2015-03-30 22:19] alaframboise commented on #47
you want something like: import-data.md?

[2015-03-30 22:20] jgravois commented on #47
yeah, or an underscore.

[2015-03-30 23:19] alaframboise commented on #47
Done #54.

[2015-03-30 23:19] #47 closed

[2015-03-30 23:24] alaframboise commented on #53
ya, it's just simple render, but it is styled

[2015-03-30 23:31] jgravois commented on #53
oh, got confused by the unique value renderer thumbnail.

[2015-03-31 14:37] alaframboise opened #60 "Esri-leaflet sample code link broken"
2. Use the code in http://esri.github.io/esri-leaflet/examples/renderers-plugin.html as a jumping off point.

@jgravois

[2015-03-31 15:07] jgravois commented on #60
not sure what you're talking about.  that link loads fine for me.

[2015-03-31 15:34] andygup commented on #61
FYI, I'm not sure I have an account on the EDN org. @alaframboise Can you/someone verify? Otherwise I'd check on the web map's sharing config myself.

[2015-03-31 16:02] andygup commented on #61
Same issue in Create a WAB App lab. If you try to use the web map, when you go to sign in you have to be a member of the EDN org.

[2015-03-31 16:50] jgravois commented on #61
*andyedn* and *andygup2* are both members of the org.

[2015-03-31 17:17] andygup commented on #61
@jgravois or @alaframboise Looks like none of the passwords or password hints I wrote down are working so I'm locked out for now. Can one of you do an admin reset on _andygup2_?

[2015-03-31 17:18] jgravois commented on #61
no prob.  done.

[2015-03-31 17:24] andygup commented on #61
Thanks!

[2015-03-31 17:32] alaframboise commented on #60
Done.  https://github.com/Esri/geodev-hackerlabs/commit/603d320029134d49ef71011dc13ab3e0df9938d4

[2015-03-31 17:32] #60 closed

[2015-03-31 18:33] alaframboise commented on #61
This can be avoided by replacing:

http://edn.maps.arcgis.com/home/webmap/viewer.html?webmap=27970d32436a446dabb3c71cf949115e

with

http://www.arcgis.com/home/webmap/viewer.html?webmap=27970d32436a446dabb3c71cf949115e

Need to update all links.

[2015-04-01 19:01] andygup opened #92 "General request to use javascript syntax highlighting"
I propose that we should be specifically referring to javascript for fenced code blocks using the pattern " \`\`\`javascript" rather than just " \`\`\` ".

Then you get highlighted code like this:

[code]

versus non-highlighted code like this:

[code]

[2015-04-01 19:03] jgravois commented on #92
proposal accepted.

[2015-04-01 19:57] alaframboise commented on #92
yip, let's do it everywhere

[2015-04-01 22:30] nixta commented on #92
:+1:

[2015-04-03 11:16] #92 closed

[2015-04-06 15:55] andygup opened #121 "Question about Extras in add_feature_layers_jsapi.md"
The second (last) bullet in [add_feature_layers_jsapi.md](https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/develop/add_feature_layers_jsapi.md) is a tad confusing.

Can we clarify in text what we want the developer to do on this step? Do they simply need to swap the addLayer() statements, or something more advanced such as using [Map.reoderLayer()](https://developers.arcgis.com/javascript/j

[2015-04-07 21:33] alaframboise commented on #121
Fixed #156

[2015-04-07 21:33] #121 closed

[2015-04-08 20:44] mccombsp-kingco opened #4 "link to join GeoDev Hackerlabs Share is set up for ESRI org login"
The link to join GeoDev Hackerlabs Share is set up for ESRI org login

[2015-04-08 20:45] mccombsp-kingco commented on #4
The link is under Sharing on the README.MD

[2015-04-08 22:15] jgravois commented on #4
resolved by #5.  thanks @mccombsp-kingco!

[2015-04-08 22:15] #4 closed, assigned to nobody

[2015-04-08 23:15] augaug opened #6 "Broken leaflet link"
https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/src/build_starter_map_leaflet.html

This link is bad, 2nd exercise in leaflet tutorials...

[2015-04-08 23:25] jgravois commented on #6
thanks for that, i'll get it fixed.

the actual link is https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/develop/src/esri_leaflet_starter.html

[2015-04-08 23:35] #6 closed, assigned to nobody

[2015-09-11 21:56] jgravois opened #33 "esri leaflet samples need leaflet version bumped"
the 'latest' cdn flag in our CDN script tag is now causing an incompatible version of esri-leaflet to be loaded in our samples.  time to upgrade to leaflet-1.0.0beta.1

[code]

[2015-09-12 00:37] JimBarry opened #34 "We need a web server tutorial"
We need a quick way to:
a. confirm that hacker's machine has a web server installed, configd, and running
b. (if not a) the simplest possible way to get a web server-like thing onto their machine

[2015-09-13 03:36] LDittmann commented on #34
a) on the machine running the web server, open a browser and type in http://localhost/   ---- blank page = no functioning web server
b) Apache? interested in hearing others' thoughts -  I have not done this myself
c) is a self-hosted website the best option for this hacker? Would an internal file share or externally hosted site work better with less security risk to the users' home network?

Thank

[2015-09-13 14:44] jgravois commented on #34
@LDittmann thanks for chiming in.  i'd definitely agree that a web server that is only available internally is sufficient.

i plan on writing up instructions for both Python's [SimpleHTTPServer](https://docs.python.org/2/library/simplehttpserver.html) (because Python is included on macs by default and laid down automatically with ArcGIS tools on Windows), and Node's [http-server](https://www.npmjs

[2015-09-13 19:11] jgravois commented on #33
downgrading esri-leaflet to `1.0.0` works too b265ef542c6f1734a84badb6a0b04d86d038987d

(and is more appropriate until update the doc on the esri leaflet website)

[2015-09-13 19:11] #33 closed, assigned to nixta

[2015-09-14 21:04] jgravois commented on #34
i've got a sample [here](https://gist.github.com/jgravois/5e73b56fa7756fd00b89).
please feel to critique, revise, bash etc.  i've got thick skin and i'm not married to any of it.

cc/ @nixta

[2015-09-16 13:48] JimBarry opened #38 "Missing fields in PDX Neighborhood layer"
The "Style Popups" exercise relies on the PDX Neighborhoods feature service to contain fields with population, income, and age data, but those fields seem to be missing now.

[2015-09-16 14:14] JimBarry opened #39 "Public Information Template missing"
In the "Create a Template App" exercise, it asks you to choose the Public Information template. But that template doesn't seem to exist anymore(?)

[2015-09-16 14:20] nixta opened #40 "Update buffer hackerlab to use unit names"
3.14 introduced unit names

[2015-09-16 14:21] nixta commented on #38
Those come from doing GeoEnrichment against the layer

[2015-09-16 14:24] nixta opened #41 "Update JS API labs to reference 3.14"
Currently at 3.13

[2015-09-16 15:27] alaframboise commented on #34
@JimBarry @jgravois  What sections do we need a web server for? WAB?

[2015-09-16 15:29] JimBarry commented on #34
WAB doesn't need it, no, but doing stuff with the jsapi or leaflet im assuming does.

[2015-09-16 15:38] alaframboise commented on #34
No, if you check out the API exercises in "Develop", they all use jsBin.com. I made sure of it so we wouldn't have this requirement.

e.g https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/develop/add_feature_layers_jsapi.md

Closing.

[2015-09-16 15:56] kellyhutchins commented on #39
The public information template still exists. Perhaps you have a custom template gallery setup in the org you used to test this with?

[2015-09-16 15:59] jgravois commented on #34
i know jsbin is convenient, but its garbage for debugging and i think its a poor decision to rely on it in geodev exercises, (particularly since we're using gh-pages to share our own examples).

[2015-09-16 16:05] alaframboise commented on #34
@jgravois debugging jsbin is easy. Just select the arrow beside Output and load the page into a stand-alone window, View Source, Click the HTML and boom, it's just like normal debugging in Chrome. Couldn't be easier.

![image](https://cloud.githubusercontent.com/assets/2539681/9910435/f6855bfc-5c51-11e5-8d14-fe60ffb5345e.png)

[2015-09-16 16:15] andygup commented on #34
Yup.

However, to Jim's point it would be easy to list a couple helper links to folks who want to set up IIS on Windows or Apache on Mac. Eventually these folks will have to configure their machine with a local web server.

[2015-09-16 16:15] jgravois commented on #34
thats cool, but i didn't know it existed, so i can guarantee that no one getting their feet wet in web development for the first time will either.

what happens when you change a line of code?  close the new window and repeat the process?  if so, thats going to get old after about 3 minutes.

**edit:**
( just realized the two windows are dynamically tied.  which is pretty cool.  i still don't like

[2015-09-16 16:17] jgravois commented on #39
@JimBarry not sure if you were using [edn.maps.arcgis](http://edn.maps.arcgis.com), but if so, i just reverted the Org to using the default Esri templates in:

[2015-09-16 18:18] JimBarry commented on #38
User error. Thanks Nick.

[2015-09-16 18:18] #38 closed, assigned to nobody

[2015-09-16 18:20] JimBarry commented on #39
At the time, I was using my own ArcGIS Online Dev&Testing subscription. I don't remember doing anything with setting up a custom template gallery. I think I'm working with the default, but I'll look into it further to see why I can't get at it. Good chance there are other templates I can't get to either. I probably broke something on my end somehow.

[2015-09-28 18:52] #41 closed, assigned to nixta

[2015-09-28 18:53] jgravois commented on #40
closed via 6b2956eeda6fcfd0cb4b58310d56c4c23971bc07

[2015-09-28 18:53] #40 closed, assigned to nobody

[2015-09-28 18:54] jgravois commented on #39
happy to chat about his more if it'd be helpful, but closing for now.

[2015-09-28 18:54] #39 closed, assigned to nobody

[2015-11-08 17:49] jgravois commented on #34
decided to just add links to my gist to both the hackerlab meetup announcements and my own exercise.

[2015-11-08 17:49] #34 closed, assigned to nobody

[2015-11-25 22:50] JimBarry opened #48 "Changing description on meetup.com events"
Dave Martinez and I worked on re-writing the description that we post out onto meetup.com so that it better reflects what attendees can expect to do at a HackerLab and why, which will better prepare them, and will better attract those who can learn what we're doing. For example, I removed the requirement that attendees much have a Github account and Git installed. That was setting the wrong impres

[2015-11-25 23:14] jgravois commented on #48
w/ regard to the repo, i think we'd all agree that most of the time signing up for a github account isn't helpful and that its putting the cart before the horse to ask people to search for/join our `Geodev Hackerlabs Share` group before they've even started working on a project.

i'll take a stab at simplifying the steps [here](https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/README.md#gett

[2015-11-25 23:25] andygup commented on #48
I'm not sure I agree with this. Maybe I'm missing something as related specifically to Labs Section 3. I see two ways for developers to work this Section, specifically. They can either download the repo as a zip or they can use github which is the platform on which the repo resides in the first place.

Rather than completely sanitizing any mention of github, I suggest we clarify why getting a gith

[2015-11-25 23:27] jgravois commented on #48
i've yet to see anyone even download the `.zip`.  in my own experience, people just traverse the tutorials and copy/paste code as needed.

that being said, i don't think there's any harm in outlining alternative options.  i just think that the information is overkill when its the first thing people see.

[2015-11-25 23:33] andygup commented on #48
I should have clarified. I'm talking about the README.

How about something like this?
1. Sign up for an [ArcGIS Developer subscription](https://developers.arcgis.com/en/sign-up/).
2. Login to [ArcGIS Online](http://arcgis.com).
   - Search for `Geodev Hackerlabs Share` > `Search Groups`.
   - Uncheck `Only search in my account/organization`.
   - Join the group.
3. OPTIONAL: Sign up for a GitHub

[2015-11-25 23:42] jgravois commented on #48
i was thinking something more like:

## Getting Started

Follow these steps to prepare for the labs.
1. Sign up for a **free** [ArcGIS Developer subscription](https://developers.arcgis.com/en/sign-up/).
2. ~~Login to [ArcGIS Online](http://arcgis.com).~~
   - ~~...~~
3. ~~Sign up for a GitHub account if you don't have one.~~

## Want to share your work?
1. Login to [ArcGIS Online](http://arcgis.co

[2015-11-26 17:53] andygup commented on #48
I like it, good suggestion. Let's see what the other folks say.

[2015-12-01 17:17] jgravois opened #51 "add a 3D jsapi 4.x sample"

[2015-12-01 17:17] jgravois opened #52 "add calcite maps sample"

[2015-12-01 17:32] andygup opened #53 "Add a JSAPI 3.15 vector tiles sample"

[2015-12-01 17:36] #51 closed, assigned to andygup

[2015-12-01 18:29] andygup opened #56 "Update wording in README > design section"

[2015-12-01 18:35] JimBarry commented on #48
Talked to AL more about this. For HackerLabs after this Boston one tomorrow (12/2), I like his idea of editing the meetup.com event page's Description so that it is much smaller and concise, less details there, and pushing all the details into the readme.md.

[2015-12-01 18:36] JimBarry commented on #48
As for Github, sounds like there's a middle ground here. We don't want to push too hard that using Git/Github is required, but we can say that if you have a Github account, we encourage you to fork the repo rather than just downloading the zip. Also, having a Github account will allow you to report and discuss issues, and even contribute back to the project if you want. etc etc

[2015-12-01 18:39] andygup commented on #48
I think that rewording is fair. Github isn't required, it's simply encouraged.

[2015-12-02 01:09] #53 closed, assigned to andygup

[2015-12-04 21:41] andygup opened #59 "Add Python sample(s)"

[2015-12-04 21:42] dmartine commented on #59
I agree. I have received two requests about the same. I can take the lead on this one.

[2015-12-04 21:43] andygup commented on #59
Yah, I also got a request this a.m.

[2015-12-18 21:02] dmartine opened #61 "Fix steps for create authenticated traffic layer"
Click My Contents > My Traffic Layer > Advanced Options select Limit Usage and set the checkbox to enable rate limiting to 1000 requests per second.

It is now refresh interval with the newest ArcGIS Online update.

[2016-01-05 18:54] jgravois opened #62 "outline for event at UC Berkeley on 1/15"
## morning
### introduction (30 min) - @alaframboise
1. navigate this repo
2. navigate developer site (and AGOL)
3. vouchers
### data (1 hour) - @alaframboise
1. publish dataset from .zipped shapefile
2. create new empty schema
3. run drivetime/buffer/etc. analysis in AGOL
### design (1 hour) - @alaframboise
1. use Map Viewer to define advanced symbology on layer
### develop (1 hour)
1. demo publi

[2016-01-12 21:43] alaframboise opened #67 "Simplify JS Client-Side Buffer Lab"
We should probably remove the slider and make it an extra. This will be half the code.

https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/develop/geometry_engine_buffer_jsapi.md

[2016-01-12 21:57] JimBarry commented on #62
This looks great John, thanks. On the one hand, they want to see open source projects that are built with or work with ArcGIS, but they also want a good look at other new (last 8-12 months) developments in ArcGIS that developers can use (ie, 3D, smart mapping, geometry engine). Not that you need to cover all that in-depth, but even if you touch on some of it and point them in the right direction.

[2016-01-12 23:10] jgravois commented on #62
good advice.  that's why you're the man.

[2016-01-15 00:33] alaframboise opened #78 "Create a 3d layers lab"

[2016-01-15 00:33] #62 closed, assigned to nobody

[2016-01-15 22:01] jgravois opened #79 "steps for UCB to bypass lab security and set up your own web server"
windows command prompt

[code]

browser

[code]

[2016-01-19 00:41] alaframboise opened #80 "Consider moving longer labs to it's own sub-category of labs"
Let's see if we can put the longer, instructor-led labs in a section all on it's own. As we discussed, these labs are a little different than the others and require a lot more coaching.

@jgravois

[2016-01-19 16:13] jgravois commented on #80
after our presentation AL and i also settled on a happy medium with regard to providing code snippets....

[code]

i'll break out step 1. from my rogue tutorials and make 'setting up your development environment' its own module, then take a stab at improving the instructions a bit so that they don't actually **require** coaching.

[2016-03-15 17:24] alaframboise opened #82 "Upgrade all exercises to ArcGIS JS API 4.x when it's final"

[2016-03-15 17:51] #79 closed, assigned to nobody

[2016-03-29 04:51] jgravois commented on #48
closing this as resolved, but happy to chat further if anyone wants to.

fyi, just pushed 0e997eb to fix a couple typos in the README.

[2016-03-29 04:51] #48 closed, assigned to nobody

[2016-03-29 22:47] PeregrineTEL opened #95 "Text fix"
Under Develop, JS API, Add a Vector Tile Layer Basemap exercise, Step 3, first line, says,
"function(Map, FeatureLayer) {  "

It should say,
"function(Map, FeatureLayer) { "

[2016-03-29 22:51] PeregrineTEL opened #96 "Clarification needed in text, pls"
While participating in the HackerLab, there was a surprise while working in the Data section, in the REST exercise.
There was no explanation that one could not form a REST service from a KML file. I uploaded a KML instead of, say, a shapefile, and was confused when I clicked on the URL that resulted.

[2016-03-29 22:57] dmartine commented on #95
Yes we need to change this title to add a vector tile layer and remove the FeatureLayer reference. Thanks.

[2016-03-29 23:12] HeidiSBeaverton opened #97 "missing curly bracket Custom Widget step 6"
Under the Web App Builder Custom Widget, step 6. there is a missing ending curly bracket. I spent a long time trying to figure out why this wasn't working! thanks

[2016-03-30 14:30] andygup commented on #97
Thanks for the heads-up, we'll take a look!

[2016-03-30 14:40] andygup commented on #96
Thank you. We'll add a clarification and a link to the ArcGIS Online documentation.

[2016-03-30 14:43] andygup commented on #52
This request was non-specific...but, we do have a calcite maps app [here](https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/develop/create_calcite_maps_app.md).

Are we okay to close this issue?

[2016-03-30 14:44] andygup commented on #56
I don't remember what the details were behind this, but the README has received several updates.

[2016-03-30 14:44] #56 closed, assigned to nobody

[2016-03-30 16:59] jgravois commented on #97
closed via 7f4cdc3f5d1159032a06052167a9f22cbbaec120

thanks for taking the time to report and sorry for the confusion @suname33!

[2016-03-30 16:59] #97 closed, assigned to nobody

[2016-03-30 17:05] jgravois commented on #95
closed via a65065d971ce1a287085ed233d773f1db8b476ad
thanks for letting us know @PeregrineTEL!

[2016-03-30 17:05] #95 closed, assigned to nobody

[2016-03-30 17:12] #52 closed, assigned to alaframboise

[2016-03-30 18:26] nixta opened #101 "Add FeatureLayers labs only add one layer"
Essentially the JS API and Leaflet Add Feature Layers labs are identical to the Add Feature Layer labs.

[2016-04-04 19:43] jgravois commented on #101
:hocho:

[2016-04-05 14:23] patrickarlt opened #105 "Be clearer about credit usage in create_walk_areas.md"
I've had several users overrun their accounts doing this demo. Some tweaks to the content need to be made:
- [ ] Move the note about credit consumption to the top rather then the bottom
- [ ] Add a note about being careful to not overrun credits to step 5.

This should solve the issue.

[2016-04-14 18:22] andygup opened #107 "All geolocation samples broken in Chrome"
They need to be updated to HTTPS

Reference: https://geonet.esri.com/people/agup-esristaff/blog/2015/05/11/using-a-secure-origin-with-browser-based-geolocation

[2016-04-14 18:37] andygup commented on #107
There may also be other similar issues with other apps in the repo related to Chrome security changes: https://blogs.esri.com/esri/arcgis/2016/04/14/increased-web-api-security-in-google-chrome/

[2016-04-18 20:30] andygup opened #109 "Consider building in unit tests"
Use case: when updating to a new level of library, such as the ArcGIS JS API, or making a quick fix or update it would be nice to make sure we aren't breaking anything.

Plus, unit tests + automation is a nice productivity bonus.

[2016-04-18 21:21] #105 closed, assigned to nobody

[2016-04-18 21:22] andygup opened #110 "Wiki page of additional dev resources"
Got a suggestion to have a page that contains links to additional dev resources. It could be divided up into categories.

[2016-04-26 18:57] #107 closed, assigned to nobody

[2016-05-03 16:30] nixta commented on #67
Didn't realize there was an issue for this. Fixed with commit https://github.com/Esri/geodev-hackerlabs/commit/593d5e1af2cc77d8e54736f0b6c509c70d8996f6

[2016-05-03 16:30] #67 closed, assigned to nobody

[2016-05-17 20:18] jgravois opened #117 "create and edit data lab needs refresh"
https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/data/create_and_edit_data.md#steps

now the tooltip is `Layers`.  not sure if anything else needs updated.

[2016-05-20 12:58] nixta opened #118 "Update Saved WebMaps with new Vector Tile Layers"
I think this is the only saved map: http://www.arcgis.com/home/webmap/viewer.html?webmap=11e2285a131540f792c58565db996b4b

However, it uses the original beta vector tiles which are now flagged as Mature Support.

It should be updated with this: http://www.arcgis.com/home/item.html?id=bf79e422e9454565ae0cbe9553cf6471

BTW `owner:esri_vector -mature` is a great search term :)

I think @alaframboise

[2016-05-20 16:05] andygup commented on #78
@alaframboise can you provide a little more detail?

[2016-05-20 22:02] Jfairfield1 opened #120 "Live 3d link not working"
The link to the demo 3d site gives a 404 error.
The url it sends you to is:
http://esri.github.io/geodev-hackerlabs/develop/src/starter_3Dmap_jsapi4b3.html

[2016-05-20 22:28] andygup commented on #120
Got it, thanks for reporting!

[2016-05-20 22:34] #120 closed, assigned to andygup

[2016-05-23 21:54] alaframboise commented on #118
Fixed.

[2016-05-23 21:54] #118 closed, assigned to alaframboise

[2016-05-23 21:56] alaframboise commented on #80
I believe these were moved these as part re-org. Will verify and close when @nixta pushes.

[2016-05-23 22:18] nixta commented on #82
Consolidate search and search_feature_layers labs when we do this.

[2016-05-31 16:57] #117 closed, assigned to nobody

[2016-05-31 22:50] nixta commented on #101
Tidied this up as part of the grand restructuring.

[2016-05-31 22:50] #101 closed, assigned to nobody

[2016-06-01 12:49] jsolly opened #137 "Clarify step 3"
For step 3:
1. In the table of contents, hover over the selected layer and click More Options > Copy

You might want to mention that you have to hover over the three '•••' else, 'More options' will not appear.

[2016-06-01 16:27] jgravois commented on #137
thanks for the feedback @jsolly!  you're referring to the lab below, correct?

https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/design/customize_vector_map/lab.md

[2016-06-01 16:57] jsolly commented on #137
yes @jgravois I must have put my comment in the wrong section. Woops!

[2016-06-02 02:55] jgravois commented on #137
this is definitely the right place.  just needed a little clarification.  you can find a proposed fix in #140.  let me know if it seems sufficient.

[2016-06-02 22:01] #137 closed, assigned to nobody

[2016-06-02 23:45] nixta commented on #82
All done. Anything that 4.0 can do has been migrated to. Smart Mapping is still to be done.

[2016-06-02 23:45] #82 closed, assigned to nobody

[2016-06-02 23:46] nixta opened #144 "Create a 4.0 Visual Variables lab."

[2016-06-03 11:29] garysheppardjr opened #145 "Create a New 3D Scene: "Layer cannot be added""
Follow the steps at https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/design/create_a_new_3d_scene/lab.md to create a new 3D scene. Step 4.i. says to add a layer with the URL http://services.arcgis.com/uCXeTVveQzP4IIcx/arcgis/rest/services/PDX_Rail_Lines/FeatureServer/0 . But that layer is not added to the scene, and an error message appears:

![image](https://cloud.githubusercontent.com/ass

[2016-06-03 14:31] nixta commented on #96
After some chat with Andy, we think the Import Data lab could do with some clarification in the Bonus section.

What we're missing is that not all data will turn into a hosted service once uploaded. It's really an `Upload then Publish` process, but usefully rolled into one for `CSV`, `Shapefile`, `GeoJSON`, `File Geodatabase`, etc. (see [here](https://doc.arcgis.com/en/arcgis-online/share-maps/pub

[2016-06-03 14:56] garysheppardjr opened #150 "Calcite Maps App lab: layers do not display"
Follow the steps in the [Calcite Maps App lab](https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/develop/jsapi/create_calcite_maps_app/lab.md). The basemap displays, but the neighborhoods, rail lines, and rail stops layers do not display. The [completed app](http://esri.github.io/geodev-hackerlabs/develop/jsapi/create_calcite_maps_app/index.html) also has this issue, as does an app created f

[2016-06-03 14:58] alaframboise commented on #150
Yip, I plan to clean this up today. Calcite Maps got an overhaul and things need to be synced. Tks!

[2016-06-06 11:38] jsolly opened #154 "Design > Customize Vector Basemap (misspelling on step 7)"
On step:
1. Go to arcgis.com and login if necessary. Click My Content > click the Light Green Canvas tile layer > click UPDATE > Choose File > select the root.json file > UPDATE ITEM.

-----"UPDATE ITEM" is actually called "Update Style File"-----

[2016-06-06 17:58] nixta commented on #145
OK. Here's what I think is happening. Your org is probably forcing you to run over HTTPS and the URLs above are only HTTP so Chrome is complaining because it breaks Chrome's rules. I'll update the lab to reference HTTPS URLs. Thanks for catching this!

[2016-06-06 18:02] garysheppardjr commented on #145
@nixta, yes, it looks like that's all it is. If I use the same service URL but with HTTPS instead of HTTP, it works. I should have thought of that. #facepalm

[2016-06-06 18:09] nixta commented on #145
Well, not really. This is a good catch for the crowd :)

[2016-06-06 18:09] #145 closed, assigned to nobody

[2016-06-06 18:13] nixta opened #156 "Update all URLs to HTTPS"
We live in the future now and all URLs should really be `HTTPS` if poss.

This raises its head if you are in an `HTTPS` visit to ArcGIS Online but paste in an `HTTP` service URL (at least for the Scene Viewer). Chrome and other browsers will throw an error. Sometimes you might not know you're at `HTTPS` if it happened automatically because your Org is configured to only allow `HTTPS` access.

@ala

[2016-06-06 18:16] nixta commented on #154
Fixed in https://github.com/Esri/geodev-hackerlabs/commit/ae6de842e4e1c9f27cfd484a762c58c37b9d5d31#diff-1efb10f4ee871ef71a5cf4fae048d2bf

Thanks!

[2016-06-06 18:16] #154 closed, assigned to nobody

[2016-06-06 18:19] nixta commented on #61
Hmmm. Doesn't seem to be (did they revert?). Closing.

![2016-06-06_14-18-56](https://cloud.githubusercontent.com/assets/25374/15832745/9ecc06de-2bf1-11e6-8c26-635d3453f9f0.png)

[2016-06-06 18:19] #61 closed, assigned to dmartine

[2016-06-06 18:22] nixta commented on #80
@alaframboise & @jgravois: Does the current structure mean we can close this now?

[2016-06-07 05:36] alaframboise commented on #150
@garys-esri fixed with latest release and lab. Cheers!

@nixta

[2016-06-07 05:36] #150 closed, assigned to nobody

[2016-06-07 18:09] jgravois commented on #80
my long labs can still be found in the 'Esri-Leaflet' section of `Develop`.
- GeoEnrich address searches
- Use Geolocation to Query
- Use Geolocation (and turf) to Query

They are _partially_ reworked, but i still haven't gotten around to stubbing out more complete code snippets to make them easier for folks to do on their own.

[2016-06-08 15:40] alaframboise opened #162 "Extrude lab should use pdx neighborhoods data"

[2016-06-08 15:45] alaframboise opened #163 "Esri-Leaflet lab doesn't render layers in correct order"

[2016-06-08 16:29] jgravois commented on #163
this is being worked on in Esri/esri-leaflet-renderers#113

[2016-06-08 16:31] alaframboise commented on #163
we should force a non-async load in the meantime so it at least renders correctly

[2016-06-08 17:18] alaframboise commented on #162
fixed #164

[2016-06-08 17:18] #162 closed, assigned to nobody

[2016-06-08 17:20] alaframboise commented on #144
I think this one covers it unless you had something else in mind.

https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/develop/jsapi/extrude_polygon_3d/lab.md

[2016-06-17 18:23] nixta opened #167 "Orgs can disable Share Everyone permission"
Someone in DC at the FSBS Hackerlab was a member of an Org where "Share with Everyone" is disabled.

This is a problem for doing the labs. We just need to mention this so that people can better decide if they should be creating a Developer Account or using their Org account.

[2016-06-17 23:45] jgravois commented on #167
@jyaistMap you want to take a stab at patching this one?

[2016-07-01 10:59] hhkaos opened #169 "Suggestion: Import Data"
Hi guys!

What about adding some sources to the [Import Data](https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/data/import_data/lab.md) page, like our [Open Data Portal](http://opendata.arcgis.com) and **a few more** to help developers understand where they can find geolocated data?

[2016-07-01 16:49] jgravois commented on #169
@hhkaos your ideas are always good, so there is no need to log issues to pitch them.  just PR away and we can start the discussion there!

[2016-07-06 16:18] alaframboise commented on #169
@hhkaos I think this is a good idea and we could add a resource page or even a lab with links specifically for data resources. The only problem is that the lab instructions obviously wouldn't fit other datasets, but the general high-level steps still apply.

[2016-10-13 20:16] #163 closed, assigned to nobody

[2016-11-02 21:39] andygup opened #185 "Combine 2D and 3D search widget labs"
Whichever is chosen as the primary, 2D or 3D, be sure to mention how easy it is to switch between the different types.

Break out searching on a feature layer into a separate lab. That way we have a lab for using the default widget, and another lab for searching against a feature layer.

[2016-11-02 21:40] andygup commented on #78
We have a few 3D labs, do we still need this? Not sure what the original intent was.

[2016-12-21 20:31] andygup opened #187 "Update to JS API 4.2"
;-)

[2016-12-21 20:32] andygup opened #188 "Add an Arcade sample"
Reference: [Arcade](https://developers.arcgis.com/javascript/latest/guide/arcade/)

[2016-12-27 19:18] sarasanchez opened #189 "Consider advertising hackerlabs as Enterprise-ready."
Currently, Hackerlabs are advertised to an ArcGIS Online only audience. Many could also be conducted using ArcGIS Enterprise. Please consider adding a statement in the read-me that many labs can also be accomplished using ArcGIS Enterprise.

I found that a majority from the first two sections are either portal-ready or require just a few additional steps (e.g., hosting a web app locally vs. using

[2017-02-17 01:13] carpealaska opened #190 "Light Green Vector Basemap - Example Live Map does not load"
2. Design
"Customize Vector Basemap" lab

At the bottom after going through the lab - the "Live Map" link that is supposed to let you compare your map to, doesn't seem to load up.
Layer name: "Light Green Canvas"

[2017-02-17 16:52] dmartine commented on #190
I'll take a look and fix it. Thanks.

[2017-02-17 19:19] mzurn opened #191 "Update 3D scene lab for smart mapping capabilities"
For the [3D scene lab](https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/design/create_a_new_3d_scene/lab.md), it would be cool if you updated step 5ii (PXD rail stops) to use the [3D object drawing style](http://doc.arcgis.com/en/arcgis-online/create-maps/configure-layers-in-scene.htm#ESRI_SECTION1_DA1996687B1449D390244E95B70AAF1A).

[2017-02-17 19:40] jgravois commented on #191
sounds like a good idea to me.  you game for submitting the change as a pull request?

[2017-02-21 16:10] mzurn commented on #191
@jgravois - I think we need to work together on this? Here are the revised steps but I think you need to update the live example?

5....
i.......
ii. Navigate back to your previous zoomed in/rotated view.
iii. Click PDX Rail Stops > Configure Layer > 3D Object>Options and change the following properties:
- Color: Red (pick a dark red with 25% transparency)
- Size: 80

[2017-02-21 17:36] jgravois commented on #191
we can definitely update the live sample.  i was asking if you can submit a [pull request](https://help.github.com/articles/about-pull-requests/) with your proposed change. the easiest way to do with is probably to just use the live github.com editor in the browser.

https://help.github.com/articles/editing-files-in-your-repository/
https://guides.github.com/activities/contributing-to-open-source/

[2017-02-21 19:03] mzurn commented on #191
@jgravois - done!

[2017-02-21 19:20] jgravois commented on #191
closed via #192. thx!

[2017-02-21 19:20] #191 closed, assigned to nobody

[2017-02-28 22:43] jgravois commented on #189
addressed in 45353f9.  sorry it took us so long to see this!

[2017-02-28 22:43] #189 closed, assigned to nobody

[2017-02-28 22:50] jgravois commented on #190
fixed in a78bb55. thanks for reporting @carpealaska!

[2017-02-28 22:50] #190 closed, assigned to nobody

[2017-02-28 22:53] jgravois commented on #187
or 4.3

[2017-02-28 22:55] #78 closed, assigned to nobody

[2017-03-01 00:32] #96 closed, assigned to nobody

[2017-03-01 00:32] jgravois commented on #96
long overdue. thanks for the feedback @PeregrineTEL!

[2017-03-07 00:01] jgravois commented on #169
i wrote a new lab on developers.arcgis.com called [_Discover Data_](https://developers.arcgis.com/labs/data/discover-data/) that borrows from this very good suggestion.

[2017-03-07 00:01] #169 closed, assigned to nobody

[2017-03-07 00:03] jgravois commented on #110
@hhkaos wrote https://github.com/esri-es/awesome-arcgis

we could link to that.  better yet, we could petition that it be moved to the Esri org, _then_ move it.

[2017-03-20 21:17] andygup commented on #187
Closed at https://github.com/Esri/geodev-hackerlabs/commit/351613525519c52201e70a3ba830ba9b43afa831

[2017-03-20 21:17] #187 closed, assigned to nobody

[2017-05-30 17:04] jgravois opened #199 "more python labs"
- [ ] add layer to webmap
- [ ] use docker to get started instead
- [ ] save changes webmap?
- [ ] ??

[2017-06-01 17:11] jgravois commented on #59
#198

[2017-06-01 17:11] #59 closed, assigned to dmartine

[2017-06-13 21:20] cybersea opened #207 "Errors when trying to add vector basemap"
Getting errors when trying to add vector basemap when following this exercise

geodev-hackerlabs/design/apply_vector_basemap/lab.md

Error
The layer, World Street Map (Night - WGS84), can not be added to the map because its coordinate system or tiling scheme can't be adjusted to align properly with the basemap.

Got the same error when trying other vector basemaps

[2017-06-13 22:48] andygup commented on #207
@cybersea Thanks for the heads-up. We'll need to update this exercise.

For now adjust your search parameters to `world street map night vector mature`. That map has the correct projection and will work with the exercise.

The issue is the original map we provide for the exercise uses a different coordinate system from the supplied vector base maps.

[2017-06-14 06:09] jgravois commented on #207
@andygup why are we directing folks to load 'mature' vector basemaps? it seems like it would be better to have them load the latest and greatest.

[2017-06-14 14:47] andygup commented on #207
@jgravois As noted that's a temporary suggestion. If you know where the latest and greatest reside then drop a note here for when the lab gets updated in the next few days.

As a general note, I'm also unclear on the meaning behind this statement `(DO NOT CLICK ADD!) > Add to Map`?

[2017-06-14 16:25] jgravois commented on #207
down the line, the vector basemaps will be included in the basemap gallery widget, but in the meantime i'd suggest using this as the search term in the lab: `owner:esri type:tile layer`

agreed.  totally confusing.

[2017-06-14 16:56] jgravois opened #208 "PDX request for hackerlab focusing on custom WAB widget development"
i'm not interested in teaching this personally, but its definitely a reasonable request

@shadc have you seen the labs we've already written for this?

https://github.com/Esri/geodev-hackerlabs/tree/gh-pages/develop/wab

[2017-06-14 18:07] #207 closed, assigned to nobody

[2017-06-21 13:50] nixta opened #210 "Sample Map for Create WebMap lab missing?"
The [Create WebMap lab](https://github.com/Esri/geodev-hackerlabs/blob/gh-pages/design/create_a_new_map/lab.md) has a sample at the end in step 7.

http://www.arcgis.com/home/webmap/viewer.html?webmap=c8cd4b6f2d724c99be9a2d14fb31603e

It doesn't appear to exist.

@alaframboise did you purge this?

[2017-06-21 14:06] nixta opened #211 "Need better chart example"
Doesn't really make sense to chart population against income.

[2017-06-21 14:12] nixta commented on #210
I've temporarily updated it to use this: http://geeknixta.maps.arcgis.com/home/webmap/viewer.html?webmap=50066020b34f45d1a8b88f9194f6aeef

[2017-06-21 14:18] nixta commented on #210
Added new map in EDN org and moved to al_geodev's Hackerlab folder. Updated the lab.

http://edn.maps.arcgis.com/home/webmap/viewer.html?webmap=1ce063a74a024fa38fd4ed00126eb130

[2017-06-21 14:18] #210 closed, assigned to alaframboise

[2017-06-21 14:28] nixta opened #212 "Add a Create View sample"
Show how to create a new Feature Service View endpoint in the Data lab

[2017-06-21 14:59] nixta opened #213 "Search Widget Developer Lab: Startup not needed?"
Looks like you no longer need to call `startup()` on the search widget.

Can we confirm this? If so, let's remove it from the instructions.

[2017-06-21 15:48] jgravois commented on #213
:+1:

https://developers.arcgis.com/javascript/latest/api-reference/esri-widgets-Search.html#startup

[2017-06-21 16:24] nixta commented on #213
Aha. Cool. We should update the labs to stop using 4.1 then :)

On Jun 21, 2017, at 11:48 AM, john gravois <notifications@github.com<mailto:notifications@github.com>> wrote:

?

https://developers.arcgis.com/javascript/latest/api-reference/esri-widgets-Search.html#startup

deprecated since 4.2

-
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHu

[2017-06-26 19:46] jgravois opened #214 "use 'master' as default branch instead of 'gh-pages'"
GitHub has supported hosting static pages from the [`master`](https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/) branch for quite some time. lets make this repo more beginner friendly and take advantage of it.

i've already pushed a `master` branch up that is in sync with `gh-pages` and contains a lone commit that updates two relevant links.  someone with admin acc

[2017-06-28 05:48] jgravois commented on #214
rebased content from #215

@alaframboise, can you tackle this one when you have a couple minutes please?

[2017-06-28 13:42] alaframboise commented on #214
@jgravois will do

[2017-06-28 13:45] alaframboise commented on #214
Updated. Please verify and then I'll delete gh-pages.

[2017-06-28 20:13] jgravois commented on #214
all done. thanks for humoring me.

[2017-06-28 20:13] #214 closed, assigned to alaframboise

[2017-08-01 16:01] JimBarry opened #217 "New Wiki docs"
Hope it's ok with you all, I added two wiki docs to the hackerlabs repo this past weekend (7.30.2017).

I needed to do some customization for a workshop I ran yesterday, and I wanted to keep it closely tied with HackerLabs so for their next steps they can use it to do more modules and learn more.

As for the one wiki doc about how to create a Story Map, perfect world I'd like to polish that up, ma

[2017-08-01 16:22] jgravois commented on #217
please do. it already looks pretty good to me!

ps: i scrubbed the voucher code from the other one...

[2018-02-14 21:33] banuelosj opened #218 "Issue with "Search with a Query Task" select element"
The select element does not change the query when the user selects a different TYPE. It stays at the default 'MAX' query. The console outputs an error message "Cannot read property 'on' of null. I printed to the console the dom.byId("queryDiv"), and it printed null. I attached a screenshot of the error message.
![console_error_query_task](https://user-images.githubusercontent.com/36280386/36229299

[2018-02-14 22:31] jgravois commented on #218
interesting. the chrome only error can be resolved by wiring up the event listener _before_ the API is used to place the dropdown on the page.

[code]

@banuelosj if you can you test this change on your side it'd be super helpful. bonus points if you can submit a PR afterward.

[2018-02-14 22:37] banuelosj commented on #218
Yes it worked! I worked on it on my own and used a Promise to fix the error (I also switched the event listener so I guess the promise was not needed after all). Just switching the event listener before is a lot easier to understand than adding the Promise.

[2018-02-14 22:38] banuelosj commented on #218
I will work on the PR right now

[2018-02-14 22:42] jgravois commented on #199
new python labs are [here](https://developers.arcgis.com/labs/)

[2018-02-14 22:42] #199 closed, assigned to jyaistMap

[2018-02-14 22:43] #109 closed, assigned to nobody

[2018-02-14 22:44] #144 closed, assigned to nobody

[2018-02-14 22:45] #80 closed, assigned to nobody

[2018-02-14 22:45] #185 closed, assigned to nobody

[2019-12-17 23:26] #208 closed, assigned to nobody